<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= htmlWebpackPlugin.options.title %>
</head>
<body>
    <noscript>您的浏览器不支持，建议使用新版本的chrome浏览器!</noscript>
    <div id="root">
        <h1>欢迎来到沙雕联盟</h1>
    </div>
</body>
</html>